<div ng-controller="UndergroundCtrl">
<bnw-scroll class="underground-wrapper">
<a href="/?slide=kaffee-kochen-quote" class="back-to-slides"><span class="glyphicon glyphicon-chevron-down"></span></a>
<div fit-vids us-spinner="{color: '#fff', top: '41%'}" spinner-key="spinner-1">
    <!-- <iframe id="ytplayer" width="1280" height="800" type="text/html" src="http://www.youtube.com/embed/PFVcfyqm9_Y?modestbranding=1&rel=0&controls=0&autoplay=0&playsinline=0&showinfo=0&origin=http://example.com" frameborder="0" allowfullscreen></iframe> -->
</div>

</bnw-scroll>
</div>
